@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

@import "reset.css";

/*Screens*/
@import "screens/signIn.css";



body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 10%;
  font-family: "San Francisco", Helvetica, Arial, san-serif;
  background-color: bisque;
}


