<?xml version="1.0" encoding="UTF-8"?>
 <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="team5.database.mapper.MybatisInterface">

<select id="isUcode" parameterType ="AuthBean" resultType="int">
	SELECT COUNT(MB_ID) FROM MEMBERS WHERE MB_ID = #{UCODE};
</select>

<select id="isAccess" parameterType ="AuthBean" resultType="int">
	SELECT COUNT(*) FROM MEMBERS WHERE MB_ID = #{UCODE} AND MB_PASSWORD = #{UPASSWORD};
</select>

<insert id="insMemberHistory" parameterType ="AuthBean">
	INSERT INTO ACCESSHISTORY(AH_MBID,AH_DATE,AH_METHOD,AH_PUBLICIP,AH_PRIVATEIP) 
	VALUES(#{UCODE},#{TO_CHAR(SYSDATE,'YYYYMMDD')},#{METHOD},#{PUBLICIP},#{PRIVATEIP})
</insert>

<insert id="insMember" parameterType ="UserBean">
	INSERT INTO MEMBERS(MB_ID,MB_PASSWORD,MB_NAME,MB_EMAIL) 
	VALUES(#{UCODE},#{UPASSWORD},#{UNAME},#{EMAIL})
</insert>

</mapper>